/*INNER/OUTER GLOW*/
/*https://codersblock.com/blog/creating-glow-effects-with-css/*/




@font-face {
	font-family: GT Super Text;
	src: url("../fonts/GTSuperText-Book.otf");
	font-style: normal;
}
@font-face {
	font-family: GT Super Text;
	src: url("../fonts/GTSuperText-BookItalic.otf");
	font-style: italic;
}

@font-face {
	font-family: GT Super Display Light;
	src: url("../fonts/GTSuperDisplay-Light.otf");
	font-style: normal;
}

@font-face {
	font-family: GT Super Display Light;
	src: url("../fonts/GTSuperDisplay-LightItalic.otf");
	font-style: italic;
}

@font-face {
	font-family: Lyon Display Light;
	src: url("../fonts/LyonDisplayLight.otf");
	font-style: normal;
}

@font-face {
	font-family: Lyon Display Light;
	src: url("../fonts/LyonDisplayLightItalic.otf");
	font-style: italic;
}

@font-face {
	font-family: Neue Plak;
	src: url("../fonts/NeuePlak-SemiBold.otf");
}



@keyframes fade-in {
	from {opacity: 0;}
	to {opacity: 1;}
}



::-webkit-scrollbar { /* WIDTH */
	width: 5px;
}

::-webkit-scrollbar-track { /* BACKGROUND */
	/*background: rgb(230,190,180);*/
}

::-webkit-scrollbar-thumb { /* HANDLE */
	background: black; 
}



::selection {
	color: white;
	background: rgba(0,0,0,0.99); /* WebKit/Blink Browsers */
}
::-moz-selection {
	color: white;
	background: rgba(0,0,0,0.99); /* Gecko Browsers */
}



* {
	font-family: GT Super Text;
	font-size: 18px;
}


/*STRUCTURE*/

div.wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: calc(100vw - 4rem);
	height: calc(100vh - 4rem);
	margin: 2rem;
}

div.footer {
	position: fixed;
	bottom: 2rem;

	opacity: 1;
}

div.footer.left {
	left: 2rem;
}

div.footer.right {
	right: 2rem;
}


div.list {
	display: grid;
	grid-template: auto / 1fr 10fr 12fr; /* ROWS / COLUMNS */
	grid-column-gap: 1rem;
	grid-row-gap: 3rem;

	height: calc(100vh - 8rem);
	width: calc(100vw - 2rem);

	overflow: auto;
}



/*TYPOGRAPHY*/

p {
	margin: 0;
}

a {
	color: black;

	cursor: alias;
}

.title {
	font-family: GT Super Display Light;
	font-style: italic;
}

.title.main {
	font-size: 2rem;
}

p.title.main {
	position: absolute;
	top: 5rem;
	left: calc(0rem);
	width: 20rem;
	margin: 0;

	opacity: 0.5;
	filter: blur(2px);
	transition-duration: 0.6s;
}

p.title.main:hover {
	opacity: 1;
	filter: blur(0px);
	transition-duration: 1.5s;
}

p.desc.main {
	display: none;
}

p.footer {
	margin: 0;

	user-select: none;
}

.footer.title {
	font-size: 1rem;

	margin-left: 1rem;
}

#alt-amp {
	font-family: Lyon Display Light;
}


p.number {
	font-family: GT Super Display Light;
	font-size: 2rem;
	font-variant-numeric: lining-nums;
}

p.title.item {
	font-family: GT Super Display Light;
	font-size: 2rem;
}


/*IMAGES*/

img {
	width: 100%;

	opacity: 0.6;
	filter: grayscale(1);

	user-select: none;
	cursor: alias;
	transition-duration: 0.3s;
}

img:hover {
	opacity: 1;
	filter: grayscale(0);

	transition-duration: 0.3s;
}


